header {
  background-color: #c61b20;
  color: white;
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  .logo {
    //display: inline-block;
    background-color: #333333;
    width: 300px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: #4d73bd;
    }
    h1 {
      width: 300px;
      height: 60px;
      font-size: 28px;
      position: relative;
      padding-top: 20px;
      text-align: center;
      margin: 0;
      span {
        position: absolute;
        font-size: 14px;
        bottom: 5px;
        right: 5px;
      }

    }

  }

  .nav{
    display: inline-block;
    flex: 1;
  }

}

.mainBody {

  width: 80%;
  min-height:400px;
  background-color: white;
  margin: 25px auto;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(115, 115, 115, .3);
  overflow: hidden;

}

footer {
  text-align: center;
  color: #b2b2b2;
  height: 40px;
  line-height: 40px;
}
