<div class="c-main">

  <ul>
    <li [routerLink]="['home']" routerLinkActive="active_nav">
      <div class="content">首页</div>
    </li>
    <li [routerLink]="['phone']" routerLinkActive="active_nav">
      <div class="content">通讯录</div>
    </li>
    <li [routerLink]="['user']" routerLinkActive="active_nav">
      <div class="content">员工管理</div>
    </li>
    <li>
      <div class="content">工时填写</div>
    </li>
    <li>
      <div class="content">导航组件</div>
    </li>
    <li>
      <div class="content">导航组件</div>
    </li>
    <li>
      <div class="content">导航组件</div>
    </li>
    <li>
      <div class="content">导航组件</div>
    </li>

  </ul>

</div>
